<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vongether.admin.board.dao.BoardAdminDAO">

	<resultMap id="boardResultMap" type="BoardVO">
	  <id property="bNo" column="b_no" />
	  <result property="bTitle" column="b_title"/>
	  <result property="bContent" column="b_content"/>
	  <result property="bHitcount" column="b_hitcount"/>
	  <result property="bRegdate" column="b_regdate"/>
	  <result property="mId" column="m_id"/>
	  <result property="bNoticeYN" column="b_noticeYN"/>
	  <result property="bDelYN" column="b_delYN"/>
	  <result property="bDeldate" column="b_deldate"/>
	  <result property="rCount" column="r_count"/>
	</resultMap>
	
	<select id="selectBoardList" resultMap="boardResultMap">
		SELECT b_no, b_title, b_hitcount, DATE_FORMAT(b_regdate,'%Y-%m-%d') b_regdate, m_id, DATE_FORMAT(b_deldate,'%Y-%m-%d') b_deldate, b_delYN
		FROM board
		WHERE b_noticeYN = 0
		<include refid="search" />
		ORDER BY b_no DESC
		LIMIT #{pagination.startIndex},#{pagination.pageSize}
	</select>
	
	<select id="selectBoard" parameterType="int" resultMap="boardResultMap">
	   SELECT b_no, b_title, b_content, b_hitcount, DATE_FORMAT(b_regdate,'%Y-%m-%d') b_regdate, m_id, b_noticeYN
     FROM board
     WHERE b_no = #{bNo}
	</select>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE board
		SET b_delYN = 1, b_deldate = now()
		WHERE b_no = #{bNo}
	</update>
	
	<update id="deleteBoardCancle" parameterType="int">
		UPDATE board
		SET b_delYN = 0
		WHERE b_no = #{bNo}
	</update>
	
	<insert id="insertNotice" parameterType="BoardVO">
		INSERT INTO BOARD (b_title, b_content, b_hitcount, b_regdate, b_noticeYN, m_id)
		VALUES(#{bTitle}, #{bContent}, 0, now(), 1, #{mId})
	</insert>
	
	<select id="selectNoticeList" resultMap="boardResultMap" parameterType="map">
		SELECT b_no, b_title, b_hitcount, DATE_FORMAT(b_regdate,'%Y-%m-%d') b_regdate, m_id, DATE_FORMAT(b_deldate,'%Y-%m-%d') b_deldate, b_delYN
		FROM board
		WHERE b_noticeYN = 1
		<include refid="search" />
		ORDER BY b_no DESC
		LIMIT #{pagination.startIndex},#{pagination.pageSize}
	</select>
	
	<select id="selectBoardCnt" resultType="int" parameterType="map">
		SELECT COUNT(b_no)
		FROM board
		WHERE b_noticeYN = 0
		<include refid="search" />
	</select>
	
	<select id="selectNoticeCnt" resultType="int" parameterType="map">
		SELECT COUNT(b_no)
		FROM board
		WHERE b_noticeYN = 1
		<include refid="search" />
	</select>
	
	<update id="updateNotice" parameterType="BoardVO">
		UPDATE board
		SET b_title=#{bTitle}, b_content=#{bContent}
		WHERE b_no = #{bNo}
	</update>
	
	<sql id="search">
		<if test="keyword != null and keyword != ''">
		  	<if test="searchType == 'all' or searchType == null">
		  		<![CDATA[ 
		  			AND (
			  			b_title like CONCAT('%',#{keyword},'%')
			  			OR b_content like CONCAT('%',#{keyword},'%')
			  			OR m_id like CONCAT('%',#{keyword},'%')
			  		)
		  		]]>
			</if>
			<if test="searchType == 'title'">
				<![CDATA[
			  		AND b_title like CONCAT('%',#{keyword},'%')
				]]>
			</if>
			<if test="searchType == 'content'">
				<![CDATA[
			  		AND b_content like CONCAT('%',#{keyword},'%')
				]]>
			</if>
			<if test="searchType == 'writer'">
				<![CDATA[
			  		AND m_id like CONCAT('%',#{keyword},'%')
				]]>
			</if> 
			<if test="searchType == 'tnc'">
				<![CDATA[
			  		AND (
			  			b_title like CONCAT('%',#{keyword},'%')
			  			OR b_content like CONCAT('%',#{keyword},'%')
			  		)
				]]>
			</if> 
		</if>
	</sql>
</mapper>
